<div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
        valores del form:
        <pre>{{ form.value | json }}</pre>
        <hr>
        validacion del form:
        <pre>{{ form.valid | json }}</pre>
        <hr>
        errores campo codigo:
        <pre>{{ form.get('codigo')?.errors| json }}</pre>
        <hr>
        validacion codigo:
        <pre>{{ form.get('codigo')?.valid | json }}</pre>
        <hr>
    </div>
    <fieldset  style="flex: 1;">
        <legend>El Formulario</legend>
        <form [formGroup]="form" autocomplete="off" (ngSubmit)="enviarForm()">
            <div>
                <label>Código</label>
                <input type="text" formControlName="codigo">
            </div>
            <div class="error" *ngIf="form.get('codigo')?.hasError('required')">
                Campo requerido
            </div>
            <div class="error" *ngIf="form.get('codigo')?.hasError('minlength')">
                debe ser mayor a 5 letras o numeros
            </div>
            <div>
                <label>Nombre</label>
                <input type="text" formControlName="nombre">
            </div>
            <div>
                <label>Email</label>
                <input type="text" formControlName="email">
            </div>
            <div>
                <label>Anotación</label>
                <textarea formControlName="anotacion"></textarea>
            </div>
            <button type="submit" [disabled]="form.invalid">Enviar</button>
        </form>
    </fieldset>
</div>
<br>
<button (click)="disableNombre()">Habilita/Deshabilita Nombre</button>
<button (click)="fillTheWholeForm()">Llenar con patch</button>
<button (click)="fillEachField()">Llenar individual</button>
<br><br>
