input.ng-valid {
    border: 1px solid green;
}

input.ng-invalid {
    border: 1px solid red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    div {
        display: flex;
        flex-direction: row;
        label {
            flex: 1;
        }
        input, textarea {
            flex: 5;
        }
    }
    .error {
        border: 2px dashed red;
        background-color: yellow;
        color: red;
        padding: 4px;
    }
}
fieldset, legend {
    background-color: beige;
}