<div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
        valores del form:
        <pre>{{ form.value | json }}</pre>
        <hr>
        validacion del form:
        <pre>{{ form.valid | json }}</pre>
        <hr>
    </div>
    <fieldset style="flex: 1;">
        <legend>El Formulario</legend>
        <form [formGroup]="form" autocomplete="off" (ngSubmit)="enviarForm()">
            
            <div>
                <label>Nombre</label>
                <input type="text" formControlName="nombre">
            </div>
    
            <fieldset formGroupName="datosContacto">
                <legend>Datos de Contacto</legend>
                <div>
                    <label>Celular</label>
                    <input type="text" formControlName="celular">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" formControlName="email">
                </div>
                <div>
                    <label>Dirección</label>
                    <input type="text" formControlName="direccion">
                </div>
            </fieldset>
    
            <fieldset formGroupName="datosOficina">
                <legend>Datos de la oficina</legend>
                <div>
                    <label>Antiguedad en meses</label>
                    <input type="number" formControlName="antiguedadMeses">
                </div>
                <ng-container formGroupName="dependencia">
                    <div>
                        <label>Dependencia</label>
                        <input type="text" formControlName="nombre">
                    </div>
                    <ng-container formGroupName="cargo">
                        <div>
                            <label>Cargo</label>
                            <input type="text" formControlName="nombre">
                        </div>
                        <div>
                            <label>Es jefe</label>
                            <input type="checkbox" formControlName="esJefe">
                        </div>
                    </ng-container>
                </ng-container>
            </fieldset>
    
            <fieldset formArrayName="experiencia">
                <legend>Experiencia</legend>
                <ng-container formGroupName="0">
                    <div>
                        <label>Empresa</label>
                        <input type="text" formControlName="empresa">
                    </div>
                    <div>
                        <label>Cargo</label>
                        <input type="text" formControlName="cargo">
                    </div>
                    <div>
                        <label>Tiempo en meses</label>
                        <input type="number" formControlName="tiempoMeses">
                    </div>
                </ng-container>
                <hr>
                <ng-container formGroupName="1">
                    <div>
                        <label>Empresa</label>
                        <input type="text" formControlName="empresa">
                    </div>
                    <div>
                        <label>Cargo</label>
                        <input type="text" formControlName="cargo">
                    </div>
                    <div>
                        <label>Tiempo en meses</label>
                        <input type="number" formControlName="tiempoMeses">
                    </div>
                </ng-container>
    
            </fieldset>
    
            <button type="submit" [disabled]="form.invalid">Enviar</button>
        </form>
    </fieldset>
</div>
<br>
<button (click)="fillTheWholeForm()">Llenar con patch</button>
<br><br>
