<div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
        valores del form:
        <pre>{{ form.value | json }}</pre>
        <hr>
        validacion del form:
        <pre>{{ form.valid | json }}</pre>
        <hr>
        errores campo edad:
        <pre>{{ form.get('edad')?.errors| json }}</pre>
        <hr>
        validacion edad:
        <pre>{{ form.get('edad')?.valid | json }}</pre>
        <hr>
    </div>
    <fieldset style="flex: 1;">
        <legend>El Formulario</legend>
        <form [formGroup]="form" autocomplete="off" (ngSubmit)="enviarForm()">
            <div>
                <label>Nombre</label>
                <input type="text" formControlName="nombre">
            </div>
            <div>
                <label>Edad</label>
                <input type="number" formControlName="edad">
            </div>
            <button type="submit" [disabled]="form.invalid">Enviar</button>
        </form>
    </fieldset>
</div>
<br>
<button (click)="addValidations()">Adicionar Validaciones</button>
<button (click)="removeValidations()">Quitar validaciones</button>
<br><br>
