.page {
    display: flex;
    flex-direction: row;
    height: 100%;

    .menu {
        display: flex;
        flex-direction: column;
        flex: 4;
        overflow-x: scroll;
        background-color: rgba(0, 40, 78, 0.795);
        color: white;
        box-shadow: 4px 0px 8px rgb(138, 137, 137);
    }

    .content {
        flex: 20;
        display: flex;
        flex-direction: column;
        padding: 8px 8px 8px 16px;
    }
}