<div class="page">
  <div class="menu">
    <ol>
      <li><a routerLink="basic">Básico</a></li>
      <li><a routerLink="dynamicValidations">Validaciones dinámicas</a></li>
      <li><a routerLink="customValidations">Validaciones custom</a></li>
      <li><a routerLink="complexStructure">Estructura compleja</a></li>
      <li><a routerLink="conditionalValidations">Validaciones condicionales</a></li>
    </ol>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
