<div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
        valores del form:
        <pre>{{ form.value | json }}</pre>
        <hr>
        validacion del form:
        <pre>{{ form.valid | json }}</pre>
        <hr>
        errores campo anotacion:
        <pre>{{ form.get('anotacion')?.errors| json }}</pre>
        <hr>
        validacion anotacion:
        <pre>{{ form.get('anotacion')?.valid | json }}</pre>
        <hr>
    </div>
    <fieldset style="flex: 1;">
        <legend>El Formulario</legend>
        <form [formGroup]="form" autocomplete="off" (ngSubmit)="enviarForm()">
            <div>
                <p>NOTA: no está permitido mencionar la palabra <strong>pepsi</strong> :-)</p>
            </div>
            <div>
                <label>Anotación</label>
                <textarea formControlName="anotacion"></textarea>
            </div>
            <button type="submit" [disabled]="form.invalid">Enviar</button>
        </form>
    </fieldset>
</div>
<br>

<br><br>
