<div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
        valores del form:
        <pre>{{ form.value | json }}</pre>
        <hr>
        validacion del form:
        <pre>{{ form.valid | json }}</pre>
        <hr>
        errores de referencias:
        <pre>{{ form.get('referencias')?.errors| json }}</pre>
        <hr>
        validacion de referencias:
        <pre>{{ form.get('referencias')?.errors| json }}</pre>
        <hr>
    </div>
    <fieldset style="flex: 1;">
        <legend>El Formulario</legend>
        <form [formGroup]="form" autocomplete="off" (ngSubmit)="enviarForm()">
            
            <div>
                <label>Nombre</label>
                <input type="text" formControlName="nombre">
            </div>

            <div>
                <label for="tipo_">Tipo</label>
                <div>
                    <input type="radio" id="estudiante" value="estudiante" name="tipo" formControlName="tipo">
                    <label for="estudiante">Estudiante</label>
                </div>
                <div>
                    <input type="radio" id="trabajador" value="trabajador" name="tipo" formControlName="tipo">
                    <label for="trabajador">Trabajador</label>
                </div>
            </div>

            <fieldset *ngIf="form.get('tipo')?.value==='estudiante'" formGroupName="estudiante">
                <legend>Estudiante</legend>

                <div>
                    <label>Institución</label>
                    <input type="text" formControlName="institucion">
                </div>

                <div>
                    <label>Programa</label>
                    <input type="text" formControlName="programa">
                </div>

                <div>
                    <label>Semestre</label>
                    <input type="number" formControlName="semestre">
                </div>
            </fieldset>

            <fieldset *ngIf="form.get('tipo')?.value==='trabajador'" formGroupName="trabajador">
                <legend>Trabajador</legend>
                <div>
                    <label>Empresa</label>
                    <input type="text" formControlName="empresa">
                </div>

                <div>
                    <label>Cargo</label>
                    <input type="text" formControlName="cargo">
                </div>
            </fieldset>

            <fieldset formArrayName="referencias">
                <legend>Referencias (minimo 2)</legend>
                <button type="button" (click)="addReferencia()">Adicionar</button>
                <br>
                    <ng-container [formGroupName]="i" *ngFor="let referencia of referencias.controls; let i = index">

                        <div>
                            <label>Nombre</label>
                            <input type="text" formControlName="nombre">
                        </div>

                        <div>
                            <label>Celular</label>
                            <input type="text" formControlName="celular">
                        </div>

                        <div>
                            <label>afinidad</label>
                            <input type="text" formControlName="afinidad">
                        </div>
                        <button type="button" (click)="removeReferencia(i)">Quitar</button>
                        <hr>
                    </ng-container>
            </fieldset>

            <button type="submit" [disabled]="form.invalid">Enviar</button>
        </form>
    </fieldset>
</div>
<br>
<button (click)="fillTheWholeForm()">Llenar con patch</button>
<br><br>
