input.ng-valid {
    border: 1px solid green;
}

input.ng-invalid {
    border: 1px solid red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    div {
        display: flex;
        flex-direction: row;
        label {
            flex: 1;
        }
        input, textarea {
            flex: 5;
        }
    }
}
fieldset, legend {
    background-color: beige;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
}