html, body {
    margin: 0;
    padding: 0;
    
}
body {
    height: 100vh;

    a {
        color: white;
        &:hover {
            color: rgb(148, 220, 253);
        }
    }

    ol {
        margin-inline-start: -1.3em
    }
}